<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Auth</title>
    </head>
<body>    
<div>
	<div class="header">
		<a href="/main"><span>Home</span></a>
	</div>
	<div class="content">
		<h1>Token recibido exitosamente</h1>
        <p>La aplicacion tiene acceso a Multivende por un periodo de 6 horas, posteriormente debera autenticarse nuevamente.</p>
        <p><b>Esta opcion es suplementaria a menos que se requiera conexion continua con la API.</b></p>
	</div>
    <a href="{{url_for('auth.main_auth')}}">Back</a>
</div>

</body></html>