cryptography==42.0.5
flask==2.2.5
flask-security-too[fsqla,common]==4.1.5
pymysql==1.0.2
flask-sqlalchemy==3.1.1
flask-talisman==1.1.0
numpy==1.24.3
pandas==2.1.4
requests==2.31.0
redis==5.0.3
textdistance==4.2.1
celery==4.4.0
openpyxl==3.0.10
boto3==1.29.1
tqdm==4.65.0
gunicorn==20.1.0
bleach==4.1.0
nltk==3.8.1
