<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Send to Multivende</title>
    </head>
<body>    
<div>
	<div class="header">
		<a href="/main"><span>Home</span></a>
	</div>
	<div class="content">
		<h1>Enviar a multivende</h1>
        <br>
        <p>Seccion de actualizacion de productos en Multivende. Al aceptar se usara la base de datos con la informacion
        de productos para actualizar los mismos en la plataforma de multivende.</p>
        <a href="{{url_for('create_update.send_form')}}">Enviar</a>
	</div>
</div>


</body></html>