option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 940 
  - namespace: aws:elbv2:loadbalancer
    option_name: IdleTimeout
    value: 1200

iles:
  "/etc/nginx/conf.d/nginx.timeouts.conf":
      mode: "644"
      owner: "root"
      group: "root"
      content: |
        client_header_timeout   10;
        client_body_timeout     20;
        send_timeout            940;
        proxy_connect_timeout   10;
        proxy_read_timeout      940;
        proxy_send_timeout      20;

container_commands:
  01_update_nginx:
    command: "sudo sed -i 's/keepalive_timeout  65;/keepalive_timeout  940;/g' /etc/nginx/nginx.conf"
  02_restart_nginx:
    command: "sudo systemctl restart nginx"

container_commands:
  nginx_reload:
     command: "sudo systemctl restart nginx"

