<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Download</title>
    </head>
<body>    
<div>
	<div class="header">
		<a href="/"><span>Home</span></a>
	</div>
	<div class="content">
		<h1>Descarga</h1>
        <br>
        <p>Aqui puede descargar los datos relacionados a los productos, mapeos y categorias.</p>
		<div>
		    <ol>
                <li><a href="/download/products">Descarga de productos con marcas de categorias.</a></li>
                <li><a href="/download/maps">Descarga de mapeos de atributos entre el marketplace y multivende.</a></li>
                <ul>
                    <li><a href="/download/maps/paris">Mapeo Paris.xlsx</a></li>
                    <li><a href="/download/maps/falabella">Mapeo Falabella.xlsx</a></li>
                    <li><a href="/download/maps/mercadolibre">Mapeo Mercado Libre.xlsx</a></li>
                    <li><a href="/download/maps/ripley">Mapeo Ripley.xlsx</a></li>
                </ul>
                <li><a href="/download/map_cat">Descarga del mapeo de categorias Multivende y marketplace.</a></li>
                <li><a href="/download/customs_attributes">Descarga de ids de atributos customs</a></li>
                <li><a href="/download/clients">Descarga datos clientes</a></li>
            </ol>
		</div>
	</div>
</div>


</body></html>