<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Download</title>
    </head>
<body>    
<div>
	<div class="header">
		<a href="/download"><span>Back to downloads</span></a>
	</div>
	<div class="content">
		<h1>Seleccion de Mapeos</h1>
        <br>
        <p>Aqui puede descargar los datos relacionados a los mapeos de atributos, seleccione el excel deseado.</p>
		<div>
		    <ul>
                <li><a href="/download/maps/paris">Mapeo Paris.xlsx</a></li>
                <li><a href="/download/maps/falabella">Mapeo Falabella.xlsx</a></li>
                <li><a href="/download/maps/mercadolibre">Mapeo Mercado Libre.xlsx</a></li>
                <li><a href="/download/maps/ripley">Mapeo Ripley.xlsx</a></li>
            </ul>
		</div>
        <p>Si su descarga es exitosa en unos momentos comenzara a descargarse el documento.</p>
	</div>
</div>


</body></html>