<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Error</title>
    </head>
<body>    
<div>
	<div class="header">
		<a href="/"><span>Home</span></a>
	</div>
	<div class="content">
		<h1>Hubo un error</h1>
        <p>Las columnas del archivo subido no coinciden con la base de datos. Por favor, asegurese de tener unicamente
        las columnas Mapeo y Atributos en el documento.</p>
	</div>
    <div>
        <a href = "/update">Back</a>
    </div>
</div>

</body></html>