<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Upload</title>
    </head>
<body>    
<div>
	<div class="header">
		<a href="/main"><span>Home</span></a>
	</div>
	<div class="content">
		<h1>Subir</h1>
        <p>Aqui puede actualizar los datos relacionados a los productos, mapeos de atributos y categorias.</p>
		<div>
		    <ol>
                 <li><a href="{{url_for('update.update_products')}}">Actualizar productos</a></li>
                    <li><a href="{{url_for('update.update_products_from_file')}}">Actualizacion de productos desde excel</a></li>
                    <li><a href="{{url_for('update.update_paris')}}">Actualizar mapeo de atributos de Paris</a></li>
                    <li><a href="{{url_for('update.update_falabella')}}">Actualizar mapeo de atributos de Falabella</a></li>
                    <li><a href="{{url_for('update.update_mercadolibre')}}">Actualizar mapeo de atributos de Mercado Libre</a></li>
                    <li><a href="{{url_for('update.update_ripley')}}">Actualizar mapeo de atributos de Ripley</a></li>
                    <li><a href="{{url_for('update.update_mapcat')}}">Actualizar mapeo de categorias</a></li>
                    <li><a href="{{url_for('update.clients_data')}}">Actualizar datos de clientes</a></li>
                    <li><a href="{{url_for('update.update_checkouts')}}">Actualizar registro de ventas</a></li>
                    <li><a href="{{url_for('update.update_ventas')}}">Actualizar registro de entregas</a></li>
                    <li><a href="{{url_for('update.update_ids')}}">Actualizar ids varios</a></li>
                    <li><a href="{{url_for('update.update_custom_ids')}}">Actualizar atributos customs</a></li>
            </ol>
		</div>
	</div>
</div>

</body></html>