<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Upload</title>
    </head>
<body>    
<div>
	<div class="header">
		<a href="/main"><span>Home</span></a>
	</div>
	<div class="content">
		<h1>Subir</h1>
        <p>Aqui puede actualizar los datos relacionados a los productos, mapeos de atributos y categorias.</p>
		<div>
		    <ol>
                <li><a href="/update/products">Actualizacion de productos desde Multivende</a></li>
                <li><a href="/update/products_file">Actualizacion de productos desde excel</a></li>
                <li><a href="/update/paris">Mapeo Paris</a></li>
                <li><a href="/update/falabella">Mapeo Falabella</a></li>
                <li><a href="/update/mercadolibre">Mapeo Mercado Libre</a></li>
                <li><a href="/update/ripley">Mapeo Ripley</a></li>
                <li><a href="/update/map_cat">Mapeo de categorias Multivende y marketplace.</a></li>
                <li><a href="/update/clients">Clientes</a></li>
                <li><a href="/update/checkouts">Ventas</a></li>
                <li><a href="/update/deliverys">Entregas</a></li>
            </ol>
		</div>
	</div>
</div>

</body></html>