<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Succcess</title>
    </head>
<body>    
<div>
	<div class="header">
		<a href="/main"><span>Home</span></a>
	</div>
	<div class="content">
		<h1>Estado actualizacion productos</h1>
        <p>Estado de la ultima actualizacion manual<br></p>
        <p><b>Status: </b>{{message.ready()}}</p>
        <p><b>Result: </b>{{message.successful()}}</p>
        {% if message.result: %}
            <p><b>Chain process: </b>{{message.result}}</p>
            <p>Recargue la pagina con este nuevo id para seguir el proceso</p>
        {% endif %}
	</div>
    <div>
        <a href = "{{url_for('update.update_main')}}">Back</a>
    </div>
</div>

</body></html>