<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Succcess</title>
    </head>
<body>    
<div>
	<div class="header">
		<a href="/"><span>Home</span></a>
	</div>
	<div class="content">
		<h1>Informacion de clientes actualizada con exito</h1>
        <p>Puede dirigirse a <a href="/download/clients">clientes</a> para descargar el documento actualizado.</p>
	</div>
    <div>
        <a href = "/update">Back</a>
    </div>
</div>

</body></html>